/* --------------------------------

Reset

-------------------------------- */

*, *::after, *::before {
  box-sizing: inherit;
}

* {
  font: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: system-ui, sans-serif;
  color: hsl(240, 4%, 20%);
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main, form legend {
  display: block;
}

ol, ul {
  list-style: none;
}

button, input, textarea, select {
  margin: 0;
}

a {
  color: hsl(230, 93%, 66%);
}

/* --------------------------------

Demo

-------------------------------- */
header {
  text-align: center;
  margin: 3em auto;
}

header h1 {
  font-size: 2.6rem;
  font-weight: 600;
}

header p {
  font-size: 1rem;
  margin-top: 1em;
  color: hsla(0, 0%, 0%, 0.5);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li {
  border-radius: .4em;
  transition: background-color .2s;
  user-select: none;
  overflow: hidden;
  text-align: center;
  padding: 2em 1em 1em;
}

ul li:hover {
  background: hsla(0, 0%, 0%, 0.05);
}

ul p {
  display: block;
  font-size: 0.75rem;
  color: hsla(0, 0%, 0%, 0.5);
  user-select: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  max-width: 6rem;
  padding: 8px 0 4px;
}

ul p::selection {
  background: hsl(230, 93%, 66%);
  color: #fff;
}

ul p::-moz-selection {
  background: hsl(230, 93%, 66%);
  color: #fff;
}

.svg-wrapper {
  font-size: 32px;
}

.svg-wrapper svg {
  display: block;
  margin: 0 auto 10px;
}

/* --------------------------------

Icons

-------------------------------- */

:root {
  --icon-color-primary: inherit;
  --icon-color-secondary: currentColor;
}

.icon {
  display: inline-block;
  color: var(--icon-color-primary); /* icon primary color */
  height: 1em;
  width: 1em;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.icon use {
  /* icon secondary color */
  fill: var(--icon-color-secondary);
  stroke: var(--icon-color-secondary);
}

/* --------------------------------

Stroke

-------------------------------- */

.stroke-1 {
  stroke-width: 1px;
}

.stroke-2 {
  stroke-width: 2px;
}

.stroke-3 {
  stroke-width: 3px;
}

.stroke-4 {
  stroke-width: 4px;
}

/* --------------------------------

Caps/Corners

-------------------------------- */

.icon use {
  --icon-stroke-linecap-butt: butt;
  stroke-miterlimit: 10;
  stroke-linecap: square;
  stroke-linejoin: miter;
}

.stroke-round use {
  --icon-stroke-linecap-butt: round;
  stroke-linecap: round;
  stroke-linejoin: round;
}